---
title: Haven's Cool Website
---

<!doctype html>
<html>
    <link rel="stylesheet" href="{{ '/tailwind.css' | url }}"/>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% include "header.njk" %}
        {{ content | safe }}
    </body>
</html>