<p>List of posts:</p>
<ul>
    {% for post in collections.post -%}
        <li>
            <a href="{{ post.url | url }}">{{ post.data.title }}, {{ post.data.date | postDate }}</a>
        </li>
    {% endfor -%}
</ul>